<h1>Log In </h1>
<br>
<%= form_with url: login_path do |u|%>

    <%=u.label :name%>
    <%=u.text_field :name%>
    <br>
    <%=u.label :password%>
    <%=u.password_field :password%>
    <%=u.submit 'Log In!'%>
<%end%>


<h2>Google Sign in </h2>
<%= button_to 'Google', '/auth/google/oauth2'%>
