<%# Add the Facebook login link here %>
<% if session[:user_id] %>
    <h1><%= @user.name %></h1>
    <h2>Email: <%= @user.email %></h2>
    <h2>Facebook UID: <%= @user.uid %></h2>
    <img src="<%= @user.image %>">
<% else %>
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>

https://www.facebook.com/v2.6/dialog/oauth?client_id=174629583129167&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Ffacebook%2Fcallback&response_type=code&scope=email&state=0ace1d2554108e550e95baab81b9280f350d1758a25ed8df